// Importing variables and mixins
@import "./variables&mixins";

// Header style
header {
  // SVG container
  .svg-container{
    position: relative;
    // SVG size
    svg{
      width: 500px;
      height: 500px;
    }
    // SVG title background
    .title-curve {
      position: absolute;
      top: -25px;
      left: 0;
      overflow: hidden;
      fill: #ffffff;
    }
    // .nav-curve {
    //   position: absolute;
    //   top: -175px;
    //   right: -75px;
    // }
  }
  // Navbar style
  nav {
    padding: 1.5rem 0rem;
    @include flexbox-row-center-space-between();
    text-transform: uppercase;
    // Navbar title
    h1 {
      color: $nav-font-colour;
      font-size: 1.50rem;
    }
    // Navbar links
    .nav-links a {
      font-size: 1rem;
      color: $nav-font-colour;
      text-decoration: none;
      padding: 0rem 0.75rem;
      &:hover {
        transition: 0.3s ease;
        color: $secondary-colour;
      }
    }
    a.current-link {
      color: $secondary-colour;
    }
    .nav-icon 
    {
      display: none;
    }
  }
}

// Mobile devices
@media (max-width: 768px) {
  // Navbar style
  header nav {
    position: relative;
    margin: 0;
    // Navbar icon
    .nav-icon {
      display: block;
      color: $nav-font-colour;
      font-size: 24px;
    }
    // Navbar links
    .nav-links:not(.active) {
      display: none;
    }
    .nav-links {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #EDEDED;
      transition: height 500ms ease-in-out;
      z-index: 1;
      overflow: hidden;
      box-shadow: $box-shadow;
      a {
        @include flexbox-column();
        align-items: center;
        margin-top: 3rem;
        color: $nav-font-colour;
      }
      a:last-child{
        margin-bottom: 3rem;
      }
    }
  }
}